<main>
    <h1 id="titulo">Bienvenidos a home socket</h1>
    <form action="">
    <input type="text"id="title" class="productbox" placeholder="Titulo" >
    <input type="text"id="description" class="productbox" placeholder="Descripcion" >
    <input type="text"id="category" class="productbox" placeholder="Categoria" >
    <input type="text"id="code" class="productbox" placeholder="Codigo" >
    <input type="number"id="price" class="productbox" placeholder="Precio" >
    <input type="number"id="stock" class="productbox" placeholder="Stock" >
    <button id="submit">Enviar</button>
    </form>
    <div id="list-container">
    </div>
</main> 
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/realtime.js"></script>
