<main>
    <div class="login-container">
        <h1 class="login-tittle">Login</h1>
        <form action="/api/sessions/login" method="POST" class="form-group w-50 form-register">
            <input type="text" name="email" class="form-control" placeholder="ingrese el email">
            <input type="text" name="password" class="form-control" placeholder="ingrese el pass">
            <button class="submit">Enviar</button><br>
            <p>No tengo cuenta: <a class="link" href="/register">Crear cuenta</a><br>    </p>
                  
      
        </form>
    </div>
</main>