<main></main>
    <div class="register-container">
        <h1 class="register-tittle">Register</h1>
        <form action="/api/sessions/register" method="POST" class="form-group w-50 form-register">
            <input type="text" name="first_name" class="form-control" placeholder="introduzca el nombre">
            <input type="text" name="last_name" class="form-control" placeholder="ingrese el apellido">
            <input type="text" name="email" class="form-control" placeholder="ingrese el email">
            <input type="password" name="password" class="form-control" placeholder="ingrese el pass">
            <button class="submit">Enviar</button> <br>
            <a class="link" href="/login">Login</a>
        </form>
    </div>
</main>